body{
    user-select: none;
    background: #333;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 5px #000,0 0 15px #000;
}
.clock::after{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: #fff;
    border-radius: 50%;
}
.clock span{
    position: absolute;
    display: inline-block;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    inset: 20px;
    
}.clock span.active b{
color: #0cb700;
text-shadow: 0 0 5px #0cb700;
}
.clock span b{
    display: block;
    font-size: 24px;
    color: #fff;
    opacity: 0.6;
    transform: rotate(calc(-30deg * var(--i)));
}
.circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 5px #000, 0 0 15px #000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.circle-min{
    width: 240px;
    height: 240px;

}
.circle-hr::after{
    top: -7.5px;
}
.circle-min::after{
    top: -34.5px;
}
.circle-sec{
    width: 180px;
    height: 180px;
    
}.circle-sec::after{
    top: -67px;
}
.circle i{
    position: absolute;
    width: 6px;
    height: 40%;
    background: var(--hr);
    top: 0%;
    transform-origin: bottom;
    transform: scale(0.5);

}
.circle::after{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--hr);
    box-shadow: 0 0 5px var(--hr), 0 0 15px var(--hr);
}